<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
                            <legend>Reset Password</legend>

                              {{ form }}


                        </fieldset>


        <button class="" type="submit">Request Password Reset</button>
        <button><a href="{% url 'website-home' %}">Home</a></button>
  </form>
  </body>
</html>
