{% extends "website/base.html" %}
{% load static %}
{% load crispy_forms_tags%}
{% load bootstrap4 %}
{% crispy u_form form.helper %}
{% crispy p_form form.helper %}
{% crispy c_form form.helper %}
{% block content %}

<div class="content">
    <div class="container form-group" style=" background-color:gainsboro;">
        <div class="row">
            <div class="col-md-6">
                <div class="content text-center">
                    <h2 class="account-heading">Your account name: <strong>{{ user.username }}</strong></h2>
                    <h2 class="account-heading">Your current e-mail:</h2>
                    <p style="font-size:18px;"><strong>{{ user.email }} </strong></p> 
                </div>
                </div class="col-md-6">
                <img src="{{ user.profile.image.url}}" alt="">
                </div>
            <div class="">
                <div class="form-group">
                <form method="POST" enctype="multipart/form-data" class="">
                    {% csrf_token %}
                    {% crispy u_form %}
                    {% crispy p_form %}  
                    {% crispy c_form %}                  
                        <button class="btn btn-warning" style="margin-bottom:10px;" type="submit">Update</button>
                </form>
                    </div>   
                    </div>
                </form>
                </div>
            </div>
        </div>    
    </div>
</div>            


{% endblock %}