<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2 class="account-heading">{{ user.username }}</h2>
    <p class="text-secondary">{{ user.email }}</p>
    <img src="{{ user.profile.image.url}}" alt="">


            <h1> ABOUT</h1>
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ u_form }}
            {{ p_form }}
            <button type="submit">Update</button>
            </form>


<a href="{% url 'website-home' %}">Home</a>
  </body>
</html>
