{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NewsPlace</title>
  </head>
  <body>
  <div>
  <h1>Welcome to the newspage</h1>
      {% if user.is_authenticated %}
        <ul>
          <li><a href="{% url 'website-about' %}">ABOUT</a></li>
          <li><a href="{% url 'users-register' %}">Register</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
        </ul>
        {% endif %}
  </div>
  {% block content %} {% endblock %}

  </body>
</html>
