{% extends "website/base.html" %}
{% block content %}
{% load static%}
{% load surveys_extra %}
{% if user.is_authenticated %}

<ul>
  {% for prod in products %}
  <div class="container">
    <div class="row">
      <li> {{ prod.name.capitalize }} full rating: {{ prod | product_full_average }} </li>
        <div class="container">
          <div class="col">
              <li>Rate 1 {{ prod.name }}: {{ prod | average_rating:'rate_1' }}</li>
              <li>Rate 2 {{ prod.name }}: {{ prod | average_rating:'rate_2' }}</li>
              <li>Rate 3 {{ prod.name }}: {{ prod | average_rating:'rate_3' }}</li>
              <li>Rate 4 {{ prod.name }}: {{ prod | average_rating:'rate_4' }}</li>
              <li>Rate 5 {{ prod.name }}: {{ prod | average_rating:'rate_5' }}</li>
          </div>
        </div>
    </div>
  </div>
  {% endfor %}
</ul>

<div class="container text-center">
  <div class="jumbotron", style="background-color:gainsboro;">
    <h1 style="color:palevioletred;">Check out the stats of your company</h1>
    <p>Make sure you are up to the date with your client satisfaction!</p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
          <tbody>
            <tr>
            <th scope="row">Users ready to take the survey</th>
            <td>{{survey_users_all}}</td>
            </tr>
            <tr>
            <th scope="row">All registered products</th>
            <td>{{products_all}}</td>
            </tr>
            <tr>
            <th scope="row">Completed Surveys</th>
            <td>{{surveys_taken_all}}</td>
            </tr>
          </tbody>
        </table>      
    </div>
    <div class="col-md-6">

    </div>
  </div>
</div>





{%else%}
<section>
  <div class="container">
    <div class="row" style="padding-top: 70px;">
    <div class="col-md-6">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'website/survey.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Influence the Opinion</h5>
          <p class="card-text">Sign up to receive the surveys - complete them to win awards!.</p>
          <a href="{% url 'sign_up' %}" class="btn btn-success">Sign Up For Surveys</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'website/sign_up.jpeg' %}" class=card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Start Surveying</h5>
          <p class="card-text">Register your business, send out surveys - get feedback.</p>
          <a href="{% url 'users-register' %}" class="btn btn-primary">Register Company</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

{% endif %}
{% endblock content %}
 