{% load bootstrap4 %}
{% load crispy_forms_tags %}

<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}"{% endif %}>

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% block styles %}{% bootstrap_css %}{% endblock %}
      {% block scripts %}{% bootstrap_javascript jquery='full' %}{% endblock %}
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container fixed">
        <a class="navbar-brand" href="{% url 'website-home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown">
                Products
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'products_list' %}">Product List</a>
                <a class="dropdown-item" href="{% url 'product_create' %}">Add Product</a>
              </div>
            </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron">
        {% block title %}
          {% if title %}<h1>{{ title }}</h1>{% endif %}
        {% endblock %}
      </div>
    </div>
    <div class="container">
        {% block content %}
        {% csrf_token %}
        {% crispy form %}
            <a class="btn btn-outline-danger" type="button" href="{% url 'website-home' %}">
            Cancel
            </a>
        {% endblock %}
    </div>
  </body>

</html>