{% extends "website/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load surveys_extra %}


{% block content %}
    <ul>
        {% for prod in products %}
        <div class="container">
          <div class="row">
            <li> {{ prod.name.capitalize }} full rating: {{ prod | product_full_average }} </li>
              <div class="container">
                <div class="col">
                    <li>Rate 1 {{ prod.name }}: {{ prod | average_rating:'rate_1' }}</li>
                    <li>Rate 2 {{ prod.name }}: {{ prod | average_rating:'rate_2' }}</li>
                    <li>Rate 3 {{ prod.name }}: {{ prod | average_rating:'rate_3' }}</li>
                    <li>Rate 4 {{ prod.name }}: {{ prod | average_rating:'rate_4' }}</li>
                    <li>Rate 5 {{ prod.name }}: {{ prod | average_rating:'rate_5' }}</li>
                </div>
              </div>
          </div>
        </div>
        {% endfor %}
    </ul>
{% endblock %}
