{% extends "website/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load surveys_extra %}
{% block content %}
                             
{% if user.is_authenticated %}
<p>Total number of users ready to take the survey: {{survey_users}}</p>
{% if survey_users > 4%}
<p>You can create a survey</p>
{% else %}
<p>Not enough users to start surveys</p>
{% endif %}


    <div class="container"  style="padding-bottom: 70px;">
        <a href="{% url 'product_create' %}"><button type="button" class="btn btn-secondary">Add Product</button></a>
        {% if survey_users < 4%}
        <a href="{% url 'winners' %}"><button type="button" class="btn btn-info" disabled>Start Promotion</button></a>
        {% else %}
        <a href="{% url 'winners' %}"><button type="button" class="btn btn-info">Start Promotion</button></a>
        {% endif %}
    </div>
   
    {% for product in object_list %}
    
  <div class="container">
    <ul class="list-group" style="background-color: lightgray; margin:7px;">
      <div class="row" style="padding: 10px;">
        <div class="col">
        <li class="list-group-item">{% product_format product short=True %} 
        </div>
        <div class="col">
            <a class="btn btn-primary" href="{% url 'detail_product' product.pk %}">Detail</a> 
            <a class="btn btn btn-warning" href="{% url 'update_product' product.pk %}">Update</a> 
            <a class="btn btn btn-danger" href="{% url 'delete_product' product.pk %}">Delete</a> 
            <a class="btn btn btn-success" href="{% url 'send_surveys' product.pk %}">Send Survey</a></li> 
        </div>
      </div>
    </ul>
  </div>
  {% endfor %}


  <div class="container text-center">
  {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number}}">First</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a href="?page={{ num }}">{{num}}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}">{{num}}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number}}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages}}">Last</a>
      {% endif %}

    {% endif %}
  
  </div>


{% endif %}
{% endblock %}

