{% extends "website/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load surveys_extra %}

{% block content %}
    <ul>
        {% for product in object_list %}
            <li>
                {% product_format product short=True %}
                <a href="{% url 'update_product' product.pk %}">update</a> /
                <a href="{% url 'delete_product' product.pk %}">delete</a> /
                <a href="{% url 'detail_product' product.pk %}">detail</a> /
                <a href="{% url 'send_surveys' product.pk %}">send survey</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
